.app {
    height: 100%;
}

.treeRoot {
    height: 100%;
}

.draggingSource {
    opacity: 0.3;
}

.placeholderContainer {
    position: relative;
}

.dropTarget {
    background-color: #e8f0fe;
}
.title{
    margin-left: 40px;
    font-size: 20px
}
.actionButton {
    padding: 0 4px;
    color: #eeeeee;
}
.actionButton:hover {
    padding: 0 4px;
    color: black;
}

.actionButton:active {
    padding: 0 4px;
    color: green;
}

.inputWrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: flex-start;
}